<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" th:href="@{/assets/Admin/css/style.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div id="viewport">
		<!-- Sidebar -->
		<div id="sidebar" style="position: fixed; top: 0; bottom: 0;">
			<ul class="nav">
				<li><a th:href="@{/Admin/dashboard}"> <i
						class="zmdi zmdi-view-dashboard"></i> Dashboard
				</a></li>
				<li><a th:href="@{/Admin/client}"> <i
						class="zmdi zmdi-link"></i> Quản lí khách hàng
				</a></li>
				<!-- <li>
              <a th:href="quanlidanhmuc.html">
                <i class="zmdi zmdi-widgets"></i> Quản lí danh mục
              </a>
            </li> -->
				<li><a th:href="@{/Admin/product}"> <i
						class="zmdi zmdi-calendar"></i> Quản lí sản phẩm
				</a></li>
				<li><a th:href="@{/Admin/bill}"> <i
						class="zmdi zmdi-info-outline"></i> Quản lý đơn hàng
				</a></li>
				<li><a th:href="@{/Admin/thongke}"> <i class="zmdi zmdi-settings"></i>Thống kê
				</a></li>
				<li><a href="#"> <i class="zmdi zmdi-comment-more"></i>
						Đăng xuất
				</a></li>
			</ul>
		</div>
		<!-- Content -->
		<div id="container" style="padding-top: 5%;">
			<div class="container">
				<div style="display: flex; justify-content: space-between;">
					<div>
						<h2>Danh Sách Sản Phẩm</h2>
						<p>Hiển thị thông tin danh sách sản phẩm trong shop
							KIENDEVQUEN:</p>
					</div>
					<div>
						<form th:action="@{/Admin/product}" method="post">
							<label for="#" style="padding-right: 10px;">Tìm kiếm sản
								phẩm: </label> <input type="text" id="timkiem" placeholder="Tìm kiếm"
								style="padding-left: 10px;" name="timkiem" th:value="${timkiem}">
							<button type="submit" style="padding: 0 5px;">Tìm kiếm</button>
						</form>
						<a style="width: 100%; margin: 10px;display: block;background-color: #FFE699;color: #000;text-align: center" th:href="@{/Admin/createProduct}">Thêm Sản Phẩm</a>
					</div>
				</div>

				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Price</th>
							<th>PriceNhap</th>
							<th>Image</th>
							<th>Brand</th>
							<th>Quantity</th>
							<th>LocalBuy</th>
							<th>Options</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="productModel : ${listProductModel}">
							<td th:text="${productModel.id}">1</td>
							<td th:text="${productModel.name}">Đồng Hồ Thể Thao Kỹ Thuật
								Số led 30m Chống Nước Cho Nam</td>
							<td th:utext="${productModel.price}+'VNĐ'">25.000.000VNĐ</td>
							<td th:utext="${productModel.giaNhapSP}+'VNĐ'">20.000VNĐ</td>
							<td><img alt="" th:src="${productModel.imageUrl}"
								style="width: 40px; height: auto"></td>
							<td th:text="${productModel.brand}">john@ex</td>
							<td th:text="${productModel.quantitySold}">john@exa</td>
							<td th:text="${productModel.localBuy}">Hà Nội</td>
							<td style="display: inline-flex; align-items: center;"><a
								href="#" style="padding-right: 10px;">Sửa</a> <a href="#">Xóa</a>
							</td>
						</tr>
					</tbody>

				</table>
				<h5 th:if="${listProductModel.getContent().isEmpty()}" style="text-align: center;padding: 50px 0">KHÔNG TÌM THẤY THÔNG TIN SẢN PHẨM</h5>
				<tfoot>
					<ul
						style="list-style-type: none; display: flex; justify-content: center;">
						<li th:if="${tranghientai} > 0"><a
							th:href="@{/Admin/product(numberPage=${tranghientai-1})}"><<</a>
						</li>
						<li><a
							th:href="@{/Admin/product(numberPage=${tranghientai})}"
							th:classappend="${tranghientai==tranghientai} ? 'kien' : ''"
							th:text="${tranghientai+1}">1</a></li>
						<li th:if="${tranghientai} < ${tongsotrang-1} "><a
							th:href="@{/Admin/product(numberPage=${tranghientai+1})}"> >>
						</a></li>
					</ul>
					<style>
li a {
	color: #000;
	padding: 5px 10px;
}

li {
	padding: 5px 10px;
}

li:hover {
	cursor: pointer;
}

.kien {
	background-color: #ccc;
	color: #fff;
}
</style>
				</tfoot>
			</div>
		</div>

	</div>
</body>
</html>