<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container mt-3">
  <h3>Thêm Sản Phẩm</h3>
  <form action="/action_page.php">
    <div class="mb-3 mt-3">
      <label for="email">Tên sản phẩm:</label>
      <input type="email" class="form-control" id="email" placeholder="Nhập tên sản phẩm" name="email">
    </div>
    <div class="mb-3 mt-3">
        <label for="email">Danh mục sản phẩm:</label>
        <input type="email" class="form-control" id="email" placeholder="Nhập danh mục sản phẩm" name="email">
      </div>
      <div class="mb-3 mt-3">
        <label for="email">Hình ảnh sản phẩm:</label>
        <input type="email" class="form-control" id="email" placeholder="Nhập danh mục sản phẩm" name="email">
      </div>
    <div class="mb-3 mt-3">
        <label for="email">Thương hiệu:</label>
        <input type="email" class="form-control" id="email" placeholder="Nhập thương hiệu sản phẩm" name="email">
      </div>
    <div class="mb-3 mt-3">
        <label for="email">Nơi bán:</label>
        <input type="email" class="form-control" id="email" placeholder="Nhâp nơi bán" name="email">
      </div>
    <div class="mb-3">
      <label for="pwd">Giá bán sản phẩm:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Nhập giá bán sản phẩm" name="pswd">
    </div>
    <div class="mb-3">
        <label for="pwd">Giá nhập sản phẩm:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Nhập giá nhập sản phẩm" name="pswd">
      </div>
      <div class="mb-3">
        <label for="pwd">Số lượng nhập:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Nhập số lượng sp" name="pswd">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

</body>
</html>
